.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #396e47;
}

.main-toolbar {
  background: #396e47;
}

.home-button-div {
  padding: 8px;
  margin-right: 5px;
}

.menu-button-div {
  padding: 8px;
  margin-left: 5px;
}

.content {
  overflow: auto;
  height: 80%;
  background: linen;
}
